@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary: #0027D5;
  --radius: 40px;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #000000;
  overflow-wrap: break-word;
  /* 讓文字可以依照文字斷行，而非依照單字 */
  background-color: #FBFBFB;
}

/* * {
  outline: 1px solid red;
} */

.wrap {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto;
}

.header {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  justify-content: center;
  padding: 24px 0px;
}

.header a {
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  color: #000000;
}

.header a:hover {
  color: var(--primary);
}

.footer {
  border-top: 1px solid #6C757D;
}

.contact_me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 82px 0px;
}

.contact_email {
  font-size: 32px;
  font-weight: 500;
}

.social_icon {
  display: flex;
  gap: 4px;
}

.copyright {
  font-weight: 500;
  text-align: center;
  padding: 24px 0px;
  background-color: #FFFFFF;
}

.date {
  font-weight: 500;
  margin-bottom: 4px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--primary);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
}

.new_tag {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary);
  color: #FFFFFF;
  display: inline-block;
  padding: 6px 12px;
  border-radius: var(--radius);
  margin-left: 8px;
}


.link_detail {
  display: inline-block;
  border-radius: var(--radius);
  border: 1px solid #000000;
  padding: 8px 16px;
  color: #4B4B4B;
  text-decoration: none;
  align-self: self-start;
  font-weight: 500;
}


.link_detail:hover {
  background-color: var(--primary);
  color: #FFFFFF;
}

.small_content {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 最多顯示兩行，但這個相容性是支援以 -webkit 開發的瀏覽器，通常不支援 IE 跟 FireFox */
  -webkit-box-orient: vertical;
  /* 搭配 display: -webkit-box; 使用 */
  overflow: hidden;
  /* 超出的範圍要隱藏 */
  text-overflow: ellipsis;
  /* 省略號的意思 */
  margin-bottom: 16px;
}


@media (max-width:768px) {
  .contact_me {
    display: none;
  }
}